.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 252px;
  width: 518px;
  background-color: var(--heartActive);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
}

.modal-head {
  background-color: #D44637;
  padding: 19px 28px;
  font-size: 22px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  font-size: 18px;
  font-weight: 400;
  padding: 36px 50px 0 50px;
  text-align: center;
  line-height: 2;
}

.modal-button {
  width: 215px;
  margin: 35px auto;
  display: flex;
  justify-content: space-between;
}

.modal-button-btn {
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  padding: 13px 0;
  border-radius: 30px;
  box-shadow: none;
  border: none;
  background-color: #B3382C;
}

.btn-blue {
  background-color: #1E1E20;
  color: #ffffff;
  opacity: 0.8;
}
