:root {
  --heartActive:red;
  --heartNotActive:lime;
}
.product-card {
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.20);
  margin-bottom: 10px;
  width: 231px;
}

.product-img-wrapper {
  position: relative;
}

.img-heart {
  position: absolute;
  top: 10px;
  left: 10px;
}
.img-heart i {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.img-heart i:hover {
  color: var(--heartNotActive);
  transform: scale(1.5);
}

.img-heart i.active {
  color: var(--heartActive);
}

.stars {
  padding: 5px 0 9px 0;
}

.stars i {
  font-size: 13px;
  color: greenyellow;
}
.stars :hover{
  cursor:pointer;
  color: yellow;
}
.stars:active{
  color: red;
}
.product-img-wrapper img {
  max-width: 100%;
  height: auto;
}

.product-info-wrapper {
  padding: 14px;
}

.head-text {
  font-size: 16px;
  font-weight: bold;
}

.info-text {
  font-size: 13px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.footer-info .price {
  font-size: 18px;
  font-weight: bold;
}
.btn-add {
  font-size: 12px;
  background-color: darkcyan;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 6px 5px;
  text-transform: uppercase;
  cursor: pointer
}
.btn-add:hover{
  opacity: 0.7;
  background-color: cyan;
}
.btn-add:focus {
  outline: none;
}

.btn-add:active {
  opacity: 0.3;
}