$every8px:8px;
body {
  display: flex;
  height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

@mixin modalWindow {
  width:60*$every8px;
  height: 34*$every8px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: lime;
  position: absolute;
  top: 3*$every8px;
  left: 39%;
}

@mixin modalHeader {
  box-sizing: border-box;
  width: 100%;
  height: 8 * $every8px;
  font-size: 3*$every8px;
  padding: 3*$every8px 2*$every8px;
  font-weight: 900;
  margin: 0;
}

@mixin decisionButtonProperties {
  font-size: 2.25*$every8px;
  padding: 2*$every8px 5*$every8px;
  outline: none;
  border: none;
  color: floralwhite;
  margin-left: 1.25*$every8px;
  border-radius: 1.25*$every8px;
}


.modalApp {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mainBtn {
  @include decisionButtonProperties;
}


.modal-window {
    &.first {
        @include modalWindow;
        background-color: #e74c3c;
    }
    &.second {
        @include modalWindow;
        background-color: #5455b0;
    }
}

.modal-header {
  &.first {
    @include modalHeader;
    background-color: #d44637;

  }

  &.second {
    @include modalHeader;
    background-color: #3c3d89;
  }
}

.modal-text {
  font-size: 2.25*$every8px;
  width: 54.25*$every8px;
  height: 5.5*$every8px;
  box-sizing: border-box;
}

.main-part {
  width: 100%;
  height: 23.2*$every8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.closeBtn {
  position: absolute;
  top: 3.125*$every8px;
  right: 3.75*$every8px;
}

.decision-btn-part {
  display: flex;
  justify-content: center;
  width: 26*$every8px;
  margin-bottom: 3*$every8px;

}

.decision-btn {
  &.first {
    @include decisionButtonProperties;
    background-color: #b3382c;
  }

  &.second {
    @include decisionButtonProperties;
    background-color: #3c3d89;
  }
}
