* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 100px 0 ;
  background: url("./backImg.jpg") no-repeat center/cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
